.note {
    padding: 25px;
    height: 680px;
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
  }
  
  .note_body{
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  /* .note_text {
    flex: 1;
    resize: none;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.875rem;
    outline: none;
    border: none;
  }
   */
  .note_footer {
    display: flex;
    justify-content: space-between;
  }
  
  .note_footer button {
    background:transparent;
    border:none;
    cursor: pointer;
    opacity: 0;
    transition: 300ms;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform ;
    transform-origin: center;
  }
  
  .note:hover .note_footer button {
    opacity: 1;
  }
  .toolbar-button{
    background:transparent;
    border:none;
    cursor: pointer;
    padding: 3px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform ;
    transform-origin: center;
}

  .quill-toolbar {
    width: 100%;
    height: 90%;
    border: none;
    font-size: larger;
}