.note-container {
  width: 100%;
  height: 92%;
}

/* .note-container h2 {
    margin-bottom: 10px;
  }
  */
.note-container_notes {
  height: 100%;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
}